{% load camerocustomfilters %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
<link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<style type="text/css">
    .answer
    {
        width : 30px;
        height : 30px;
    }
</style>
<body>
<h2>사회복지직 국사 모의고사 문제 모음</h2>
<h3>한국사 모음</h3>
{% for questionset in question_sets1 %}
    <div style="float: left; margin-right:10px;">{{ forloop.counter }}. </div>
    <form action="/korean_black_page/{{questionset.id}}/" method="GET" style="float:left; margin-right:10px;">
        <input type="submit" value="{{questionset.name}}" style="width : 200px; font-size:20px;">
    </form>
    <form action="/korean_black_page_wrong/{{questionset.id}}/" method="GET" style="float:left; margin-right:10px;">
        <input type="submit" value="틀린 문제만" style="width : 150px; font-size:20px;">
    </form>

    맞음 : {{ corrects|get_at_index:forloop.counter0}}, 틀림 : {{ wrongs|get_at_index:forloop.counter0 }}
{% endfor %}


<h3 style="margin-top:100px;">사회 복지직 국사 모음</h3>
{% for questionset in question_sets2 %}
    <div style="float: left; margin-right:10px;">{{ forloop.counter }}. </div>
    <form action="/korean_black_page/{{questionset.id}}/" method="GET" style="float:left; margin-right:10px;">
        <input type="submit" value="{{questionset.name}}" style="width : 200px; font-size:20px;">
    </form>
    <form action="/korean_black_page_wrong/{{questionset.id}}/" method="GET" style="float:left; margin-right:10px;">
        <input type="submit" value="틀린 문제만" style="width : 150px; font-size:20px;">
    </form>

    맞음 : {{ corrects2|get_at_index:forloop.counter0}}, 틀림 : {{ wrongs2|get_at_index:forloop.counter0 }}
{% endfor %}
</body>
</html>