{% load camerocustomfilters %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
<link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<style type="text/css">
    .answer
    {
        width : 30px;
        height : 30px;
    }
</style>
<body>
<h2>사회복지직 국사 모의고사 문제 모음</h2>
{% for questionset in question_sets %}
<form action="/korean_black_page/{{questionset.id}}/" method="GET">
    1. <input type="submit" value="{{questionset.name}}" style="width : 200px; font-size:20px;">
    맞음 : {{ corrects|get_at_index:forloop.counter0}}, 틀림 : {{ wrongs|get_at_index:forloop.counter0 }}
</form>
{% endfor %}

</body>
</html>